<p id="notice"><%= notice %></p>

<header class="page-header col-12">

  <% if session[:current_user] %>
    <%= button_to "Create New Question", new_question_path, method: :get %>
  <% end %>

</header>

<div class="col-12">
  <ol class="thumb-grid group clearfix">

    <% @questions.each do |question| %>
      <li>
        <%= link_to question_path(question) do %>
          <img src='<%= question.image_path %>' class="thumb" >
        <% end %>
      </li>
    <% end %>

  </ol>
</div>
