<p id="notice"><%= notice %></p>

<header class="page-header col-12">
  <h1>Was Ist Das?</h1>
  <p>Select an image below</p>
</header>

<div class="col-12">
  <ol class="thumb-grid group clearfix">
    <% @questions.each_slice(7) do |question_set| %>
      <div class="row">
        <% question_set.each do |question| %>
        <li>
          <%= link_to question_path(question) do %>
            <img src=<%= question.image_path %> class="rounded">
          <% end %>
        </li>
        <% end %>
      </div>
    <% end %>
  </ol>
</div>
