<div class="profile-header">

  <h2><%= @user.name.capitalize %>'s questions</h2>
  <% if session[:current_user] == @user.id %>
    <%= link_to edit_user_path(@user) do %>
      Edit User Info
    <% end %>
  <% end %>

</div>

<div class="col-12">

  <ol class="thumb-grid group clearfix">

    <% @questions.each do |question| %>
      <li>
        <%= link_to question_path(question) do %>
          <img src='<%= question.image_path %>' class="thumb" >
        <% end %>
      </li>
    <% end %>

  </ol>
</div>
