<div class="response"> <!-- data-id response id placeholder ex. data-id="<%= response.id %>" -->
  <h3><i class="fa fa-user"></i> Nathan</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <span><i class="fa fa-comments"></i> Comments</span>

  <% 3.times do %>
    <%= render 'comment' %>
  <% end %>
</div>
