<div class="response">
  <h3><i class="fa fa-user"></i> Nathan</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <span><i class="fa fa-comments"></i> Comments</span>

  <% 3.times do %>
    <%= render 'comment' %>
  <% end %>
  <button class="add_comment">Add Comment</button>
</div>
