<header class="col-12">
  <h1>Was Ist Das?</h1>
  <p>Select images to respond and comment.</p>
</header>

<div class="col-12">
  <ol class="thumb-grid group clearfix">
    <% 30.times do %>
      <li><a href="#"><img src="http://placehold.it/150x150"></a></li>
    <% end %>
  </ol>
</div>


