<header class="page-header col-12">
  <h1>Was Ist Das?</h1>
  <p>Select images to respond and comment.</p>
</header>

<div class="col-12">
  <ol class="thumb-grid group clearfix">
    <% 30.times do %>
      <li>
        <%= link_to("/welcome/question") do %>
          <img src="http://images5.fanpop.com/image/photos/29600000/Hamster-weight-Lifting-hamsters-29682128-450-307.jpg" class="rounded">
        <% end %>
      </li>
    <% end %>
  </ol>
</div>


