<div class="nav">
  <%= link_to "back", :back %>
</div>

<header class="question-header .page-header center">
  <h2>Was Ist Das?</h2>
  <div class="col-center col-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse  cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <img src="http://images5.fanpop.com/image/photos/29600000/Hamster-weight-Lifting-hamsters-29682128-450-307.jpg" class="rounded">
</header>
