<%= form_for @response, url: question_responses_path(params[:question_id]) do |f| %>
  <div class="actions">
    <%= f.text_area :content, placeholder: "Content" %><br>
    <%= f.submit %>
  </div>
<% end %>
