body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  min-width: 1000px;
  background: #ECF0F1;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

#content {
  margin-top: 40px;
}

h1 {
  float: left;
  line-height: 80px;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  text-align: center;
}

header.page-header {
  text-align: center;
  margin-bottom: 40px;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

footer {
  text-align: center;
  font-size: 10px;
  color: #333;
  margin: 100px 0 40px 0;
}
