body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  min-width: 1000px;
  background: #ECF0F1;
  color: #2C3E50;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-bottom: 10px;
}

header.page-header {
  text-align: center;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.profile-header {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 10px;
  color: #333;
  margin: 100px 0 40px 0;
}

#screen_block{
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.8);
  z-index:5;
  width:100%;
  height:100%;
  display:none;
}
