header.question-header {
  text-align: center;
  margin-bottom: 40px;
}

header.question-header p {
  text-align: left;
  margin-bottom: 20px;
}

header.question-header img {
  box-shadow: 1px 1px 5px #777;
  max-width: 800px;
}
