<% if session[:current_user] %>
  <p id="notice"><%= notice %></p>

  <div id='new_question_modal' class='modal'>
    <%= render 'questions/form' %>
  </div>
<% else %>
  <div id='login_modal' class='modal'>
    <%= render '/login' %>
  </div>

  <div id='signup_modal' class='modal'>
    <%= render 'users/new' %>
  </div>
<% end %>
